@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* NavBar section */
.navbar{
    display: flex;
    width: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 80px;
}

.navbar ul{
    display: flex;
    align-items: center;
    font-size: xx-large;
    list-style: none;
    width: 50%;
    justify-content: center;
}

.navbar ul li{
    color: white;
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}
.navbar ul li:hover{
    background-color: rgb(5, 207, 5);
    padding: 10px;
    border-radius: 10px;
}

.dropdown-container{
    color: white;
    position: relative;
    cursor: pointer;
}
.dropdown-list{
    display: none;
    position: absolute;
    background-color: green;
    top: 45px;
    left: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.dropdown-list li{
    margin-bottom: 20px;
}

.dropdown-container:hover .dropdown-list{
    display: block;
    background-color: green;
}

.phone-icon{
    margin-right:10px;
    width: 35px;
}


/* Main section */
.main,.bottom{
    padding-left: 400px;
    padding-right: 400px;
}

.main{
    display: flex;
}
.diposit-container{
    margin: 20px;
    height: 400px;
    width: 70%;
    min-width: 700px;
}
.diposit-container h1{
    margin: 10px;
    color: green;
}
.deposit-in{
    display: flex;
    height: 100%;
}
.value{
    padding-top: 150px;
    text-align: center;
    background-color: white;
    box-shadow:  1px 1px 3px gray ;
    width: 33%;
}
.value input{
    padding:10px;
    width: 90%;
}
.value button{
    color: white;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: green;
    margin-top: 50px;
    height: 50px;
    width: 60%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: .4s;
}
.value button:hover{
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(7, 98, 7);
    background-color: rgb(9, 209, 9);
}


/* policy section */
.policy{
    margin-top: 30px;
    margin-left: 50px;
    width: 30%;
    min-width: 300px;
    text-align: justify;
}
.policy h1{
    color: green;
    margin-bottom: 20px;
}




/* Bottom section */

.bottom{
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
}

.image-container{
    width: 50%;
    position: relative;
}
.image-container img{
    width: 300px;
}

.image-1{
    border-radius: 20px;
    box-shadow: 1px 1px 5px gray;
}
.image-2{
    position: absolute;
    left: 120px;
    top: 80px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px gray;
}


/*  todo-system */
.todo-container{
    overflow-x:auto;
    display: flex;
    width: 100%;
    margin-left: 150px;
    height:330px;
    box-shadow: 1px 1px 3px rgb(159, 158, 158);
}


.todo-system{
    text-align: justify;
    padding: 20px;
    width: 400px;
}

.info{
    box-shadow: 1px 1px 3px gray;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}
.info h2{
    color: green;
}


.add-button{
    height: 40px;
    width: 300px;
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 10px;
    transition: .5s;
}

.add-button:hover{
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(7, 98, 7);
    background-color: rgb(3, 190, 3);
}